.sectionHeader {
  height: 50px;
  border-bottom: 1px solid var(--app-color-border);
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--mantine-color-text);
}

.sectionBody {
  padding: 24px;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .sectionHeader {
    display: none;
  }

  .sectionBody {
    padding: 16px;
  }
}

