.page {
  min-height: 100vh;
  background-color: var(--app-color-page);
  position: relative;
  display: flex;
  flex-direction: column;
}

.topBar {
  position: absolute;
  top: var(--mantine-spacing-md);
  right: var(--mantine-spacing-md);
  z-index: 10;
}

.main {
  flex: 1;
  padding: 80px 80px;
}

@media (max-width: 768px) {
  .main {
    padding: 48px 24px;
  }
}

