.form {
  display: flex;
  flex-direction: column;
}

.submitWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 767.98px) {
  .submitWrapper {
    width: 100%;
  }

  .submitWrapper :global(.mantine-Button-root) {
    width: 100%;
  }
}

