.button {
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 36px;
  padding: 4px 10px 4px 4px;
  border-radius: var(--mantine-radius-xl);
}

.button:hover {
  background: var(--mantine-color-default-hover);
}

.name {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
